    body {
        margin: 0;
        padding: 0;
        font-family: "myriad-pro", Arial, sans-serif;
        font-size: 15px;
        line-height: 30px;
        font-weight: 10px;
        color: #000000;
        background-color: #ffffff;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .visually-hidden {
        visibility: hidden;
    }

    a {
        text-decoration: none;
    }

    .site-navigation {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        background-color: #f7e296;
    }

    .site-navigation-sub {
        font-weight: normal;
    }

    .user-login-header,
    .user-compare-basket {
        font-size: 15px;
        line-height: 30px;
        color: #000000;
    }

    .site-navigation li,
    .user-login-header,
    .user-compare-basket,
    .main-footer,
    .product-list,
    .company-logo-img,
    .main-footer ul,
    .breadcrumbs,
    .sort ul,
    .filters ul,
    .catalog-content ul {
        list-style: none
    }

    .site-navigation a,
    .user-login-header a,
    .user-compare-basket a,
    .catalog-content a,
    .sort a,
    .container a {
        color: #000000
    }

    .site-navigation a:focus,
    .user-login-header a:focus,
    .user-compare-basket a:focus {
        opacity: 0.3
    }

    .site-navigation a:hover,
    .user-login-header a:hover,
    .user-compare-basket a:hover {
        opacity: 0.6
    }

    .features-list {
        list-style: none;
    }

    .slider-controls,
    .product {
        text-align: center;
    }

    .slide-item-selfi h2 {
        font-size: 47px;
        line-height: 56px;
    }

    .service-slide h2 {
        font-size: 47px;
        line-height: 48px;
    }

    .about-us h2,
    .contacts h2 {
        font-size: 47px;
        line-height: 48px;
    }

    button {
        font: inherit;
        text-align: center;
        color: black;
        vertical-align: middle;
        font-weight: bold;
        background-color: #f4d361;
        border: none;
    }

    .button hover {
        background-color: #f4d361;
    }

    .button focus {
        opacity: 0.3;
    }

    .button :active {
        background-color: black;
        color: #f4d361;
    }

    .catalog-content a {
        text-align: left;
    }

    .catalog-item-price {
        color: #464646;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .range-price {}

    .main-footer {
        color: white;
        background-color: #464646
    }

    .main-footer a {
        color: white
    }

    .service-slide {
        background: #e5e5e5;
    }

    .container-footer-2 li {
        display: inline;
    }

    .container-footer-3 li {
        display: inline;
    }

    .sort li,
    .sort ul {
        display: inline;
    }

    .container-catalog li {
        display: inline;
    }
    /*--------сеточные стили--------*/

    html,
    body {
        min-width: 1122px;
        min-height: 1750px;
    }

    .container {
        width: 1040px;
        margin-top: -110px;
        padding: 0 60px;
    }

    .main-header {
        min-height: 300px;
    }

    .main-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 339px;
        background-color: transparent;
    }

    .user-navigation-wrapper {
        width: 100%;
        margin-bottom: 55px;
        min-height: 70px;
    }

    .site-navigation {
        display: flex;
        justify-content: space-between;
    }

    .user-navigation-wrapper .container,
    .user-compare-basket {
        display: flex;
        justify-content: space-between;
    }

    .main-header-logo {
        width: 164px;
        height: 36px;
        padding: 0 60px;
        margin-right: auto;
    }

    .site-navigation {
        width: 1160px;
        margin: 0;
        padding: 0;
        min-height: 70px;
    }

    .user-navigation {
        margin: 0;
        padding: 0;
        min-height: 70px;
    }

    .search-header {
        margin: 0;
        padding: 0;
        min-height: 70px;
    }

    .user-login-header {
        margin: 0;
        padding: 0;
        min-height: 70px;
    }

    .user-compare-basket {
        margin: 0;
        padding: 0;
        min-height: 70px;
    }

    .product {
        margin-bottom: 85px;
    }

    .product-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 240px;
    }

    .product-list li {
        width: 160px;
        min-height: 240px;
    }

    .service-slide {
        display: flex;
        justify-content: space-between;
        padding: 175 0;
    }

    .service-slide-controls {
        padding: 85 0;
        width: 320px;
    }

    .service-slide-colums {
        padding: 85 120;
        width: 700px;
    }

    .company-logo-img {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 55px;
    }

    .company-logo {
        padding: 95 0;
    }

    .company-logo-img li {
        width: 260px;
        min-height: 55px;
    }

    .index-columns {
        display: flex;
        justify-content: space-between;
        padding: 95px 0px;
    }

    .about-us {
        width: 460px;
    }

    .contacts {
        width: 560px;
    }

    .main-footer .container {
        display: flex;
        padding: 65px 0;
        margin-top: 65px;
    }

    .container-footer-1 {
        width: 200px;
        margin-right: 160px;
    }

    .container-footer-2 {
        width: 440;
        margin-top: 140px;
    }

    .container-footer-3 {
        width: 330;
        margin-left: auto;
    }
    /*--------сеточные стили каталога (меню сайта)--------*/
    /*--------сеточные стили каталога (содержимое страницы)--------*/

    .user-columns-catalog {
        display: flex;
        flex-direction: row;
    }

    .search-header {
        width: 155px;
        margin: 0;
        padding-left: 0px;
    }

    .user-login-header {
        width: 230px;
        margin: 0;
        padding-left: 400px;
    }

    .user-compare-basket {
        width: 220px;
        margin: 0;
        padding-left: 55px;
    }

    .container-catalog {
        width: 1040px;
        margin-top: 55px;
        padding: 0 60px;
    }

    .page-title {
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        min-height: 45px;
    }

    .breadcrumbs {
        padding: 0;
        margin: 0;
        margin-bottom: 55px;
        min-height: 25px;
    }

    .sort {
        padding: 0;
        margin: 0;
        margin-left: 270px;
        min-height: 70px;
    }

    .filters {
        margin: 0;
        padding: 0;
        width: 200px;
        min-height: 1075px;
    }

    .catalog-content {
        width: 800px;
        min-height: 1075px;
    }

    .catalog-body {
        display: flex;
        justify-content: space-between;
    }

    .catalog-item {
        width: 360px;
        margin-left: 20px;
        margin-bottom: 75px;
        margin-right: 20px;
        min-height: 435px;
    }

    .catalig-item :nth-child(3n) {
        margin-right: 0;
    }

    .catalog-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 40px;
    }

    .catalog-columns {
        display: flex;
    }

    .catalog-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .pagination-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
