body {
  margin: 0;
  padding: 0;

  font-family: "myriad-pro", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 10px;
  color: #000000;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.site-navigation-sub {
font-weight: normal;
}

.user-login-header,
.user-compare-basket {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.site-navigation li,
.user-login-header,
.user-compare-basket,
.main-footer,
.product-list,
.company-logo-img {
  list-style: none
}

.site-navigation a,
.user-login-header a,
.user-compare-basket a {
  color: #000000
}

.site-navigation a:focus,
.user-login-header a:focus,
.user-compare-basket a:focus {
  opacity:0.3
}

.site-navigation a:hover,
.user-login-header a:hover,
.user-compare-basket a:hover {
  opacity:0.6
}



.features-list {
  list-style: none;
}

.slider-controls,
.product {
  text-align: center;
}



.main-footer{
  color: white;
  background-color: #464646
}

.main-footer a{
  color: white
}
